.hljs-comment {
    color: #495495;
    font-style: italic;
}
.hljs-string {
    color: #ff8b39
}
.hljs-params {
    font-size: italic;
}
.hljs-subst {
    color: #72f1b8
}
.hljs-literal {
    color: #f97e72
}
.hljs-keyword {
    color: #ff7edb
}
.hljs-params, .hljs-attr {
    color: #ff7edb
}
.hljs-params {
    font-style: italic;
}
.hljs-built_in {
    color: #72f1b8
}


.hljs-title {
    color: #fe4450 !important;
}